torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121
pytorch-lightning>=2.0.0
tensorboard
captcha
pyyaml
pillow
numpy<2
matplotlib
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability